<a href="https://colab.research.google.com/github/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/blob/main/Part_C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [ ]:
file = pd.read_csv("https://raw.githubusercontent.com/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/main/concrete_data.csv")

In [ ]:
file.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Repeat Part A but use a normalized version of the data.

In [ ]:
x = file.iloc[:,:-1]      #Predictors
y = file['Strength']      #Target

In [ ]:
print(x.shape,y.shape,sep='\n')

(1030, 8)
(1030,)

**Normalising the Predictors**

In [ ]:
x_norm = (x-x.mean())/x.std()

In [ ]:
x_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

**Making the model**

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Activation,Dense

In [ ]:
model = Sequential()
model.add(Dense(10,activation = 'relu'))
model.add(Dense(1))

In [ ]:
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

**Training the model**

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [ ]:
model.fit(x_train,y_train,verbose=1,epochs = 100)

Epoch 1/100
23/23 [==============================] - 1s 2ms/step - loss: 12794.4219
Epoch 2/100
23/23 [==============================] - 0s 2ms/step - loss: 2127.2878
Epoch 3/100
23/23 [==============================] - 0s 2ms/step - loss: 1791.4547
Epoch 4/100
23/23 [==============================] - 0s 1ms/step - loss: 1598.1522
Epoch 5/100
23/23 [==============================] - 0s 2ms/step - loss: 1444.6576
Epoch 6/100
23/23 [==============================] - 0s 2ms/step - loss: 1303.9879
Epoch 7/100
23/23 [==============================] - 0s 2ms/step - loss: 1183.8680
Epoch 8/100
23/23 [==============================] - 0s 2ms/step - loss: 1077.9080
Epoch 9/100
23/23 [==============================] - 0s 2ms/step - loss: 987.0798
Epoch 10/100
23/23 [==============================] - 0s 1ms/step - loss: 908.3768
Epoch 11/100
23/23 [==============================] - 0s 2ms/step - loss: 843.0948
Epoch 12/100
23/23 [==============================] - 0s 1ms/step - loss: 785.7789
Epoch 13/100
23/23 [==============================] - 0s 2ms/step - loss: 735.7924
Epoch 14/100
23/23 [==============================] - 0s 1ms/step - loss: 694.2749
Epoch 15/100
23/23 [==============================] - 0s 1ms/step - loss: 654.0176
Epoch 16/100
23/23 [==============================] - 0s 1ms/step - loss: 617.4957
Epoch 17/100
23/23 [==============================] - 0s 2ms/step - loss: 589.7750
Epoch 18/100
23/23 [==============================] - 0s 1ms/step - loss: 556.3689
Epoch 19/100
23/23 [==============================] - 0s 2ms/step - loss: 530.8594
Epoch 20/100
23/23 [==============================] - 0s 2ms/step - loss: 505.0246
Epoch 21/100
23/23 [==============================] - 0s 1ms/step - loss: 483.7823
Epoch 22/100
23/23 [==============================] - 0s 1ms/step - loss: 461.3149
Epoch 23/100
23/23 [==============================] - 0s 2ms/step - loss: 441.1991
Epoch 24/100
23/23 [==============================] - 0s 1ms/step - loss: 418.6972
Epoch 25/100
23/23 [==============================] - 0s 1ms/step - loss: 403.3848
Epoch 26/100
23/23 [==============================] - 0s 1ms/step - loss: 381.2523
Epoch 27/100
23/23 [==============================] - 0s 1ms/step - loss: 365.3352
Epoch 28/100
23/23 [==============================] - 0s 1ms/step - loss: 349.5416
Epoch 29/100
23/23 [==============================] - 0s 1ms/step - loss: 334.9192
Epoch 30/100
23/23 [==============================] - 0s 2ms/step - loss: 320.5097
Epoch 31/100
23/23 [==============================] - 0s 1ms/step - loss: 307.9796
Epoch 32/100
23/23 [==============================] - 0s 3ms/step - loss: 297.3127
Epoch 33/100
23/23 [==============================] - 0s 2ms/step - loss: 282.4439
Epoch 34/100
23/23 [==============================] - 0s 3ms/step - loss: 272.8022
Epoch 35/100
23/23 [==============================] - 0s 3ms/step - loss: 262.8262
Epoch 36/100
23/23 [==============================] - 0s 3ms/step - loss: 250.3627
Epoch 37/100
23/23 [==============================] - 0s 3ms/step - loss: 246.9318
Epoch 38/100
23/23 [==============================] - 0s 2ms/step - loss: 235.6099
Epoch 39/100
23/23 [==============================] - 0s 2ms/step - loss: 230.8277
Epoch 40/100
23/23 [==============================] - 0s 3ms/step - loss: 220.7013
Epoch 41/100
23/23 [==============================] - 0s 2ms/step - loss: 213.7145
Epoch 42/100
23/23 [==============================] - 0s 2ms/step - loss: 206.8464
Epoch 43/100
23/23 [==============================] - 0s 5ms/step - loss: 200.1613
Epoch 44/100
23/23 [==============================] - 0s 2ms/step - loss: 194.4928
Epoch 45/100
23/23 [==============================] - 0s 2ms/step - loss: 190.6516
Epoch 46/100
23/23 [==============================] - 0s 2ms/step - loss: 184.5951
Epoch 47/100
23/23 [==============================] - 0s 2ms/step - loss: 182.0247
Epoch 48/100
23/23 [==============================] - 0s 2ms/step - loss: 176.2542
Epoch 49/100
23/23 [==============================] - 0s 3ms/step - loss: 173.4717
Epoch 50/100
23/23 [==============================] - 0s 2ms/step - loss: 169.7441
Epoch 51/100
23/23 [==============================] - 0s 2ms/step - loss: 164.2566
Epoch 52/100
23/23 [==============================] - 0s 2ms/step - loss: 162.9586
Epoch 53/100
23/23 [==============================] - 0s 3ms/step - loss: 161.0714
Epoch 54/100
23/23 [==============================] - 0s 2ms/step - loss: 156.3438
Epoch 55/100
23/23 [==============================] - 0s 2ms/step - loss: 153.9856
Epoch 56/100
23/23 [==============================] - 0s 3ms/step - loss: 149.5865
Epoch 57/100
23/23 [==============================] - 0s 2ms/step - loss: 146.8318
Epoch 58/100
23/23 [==============================] - 0s 3ms/step - loss: 144.9556
Epoch 59/100
23/23 [==============================] - 0s 2ms/step - loss: 143.1700
Epoch 60/100
23/23 [==============================] - 0s 2ms/step - loss: 142.5137
Epoch 61/100
23/23 [==============================] - 0s 2ms/step - loss: 139.2986
Epoch 62/100
23/23 [==============================] - 0s 2ms/step - loss: 139.0947
Epoch 63/100
23/23 [==============================] - 0s 2ms/step - loss: 135.0977
Epoch 64/100
23/23 [==============================] - 0s 2ms/step - loss: 133.9637
Epoch 65/100
23/23 [==============================] - 0s 2ms/step - loss: 133.0545
Epoch 66/100
23/23 [==============================] - 0s 3ms/step - loss: 130.7584
Epoch 67/100
23/23 [==============================] - 0s 5ms/step - loss: 130.3801
Epoch 68/100
23/23 [==============================] - 0s 2ms/step - loss: 128.2651
Epoch 69/100
23/23 [==============================] - 0s 2ms/step - loss: 129.9916
Epoch 70/100
23/23 [==============================] - 0s 2ms/step - loss: 125.5098
Epoch 71/100
23/23 [==============================] - 0s 2ms/step - loss: 124.8060
Epoch 72/100
23/23 [==============================] - 0s 2ms/step - loss: 123.5891
Epoch 73/100
23/23 [==============================] - 0s 2ms/step - loss: 122.8723
Epoch 74/100
23/23 [==============================] - 0s 2ms/step - loss: 121.4764
Epoch 75/100
23/23 [==============================] - 0s 2ms/step - loss: 121.6027
Epoch 76/100
23/23 [==============================] - 0s 6ms/step - loss: 120.4772
Epoch 77/100
23/23 [==============================] - 0s 4ms/step - loss: 121.2334
Epoch 78/100
23/23 [==============================] - 0s 1ms/step - loss: 121.4526
Epoch 79/100
23/23 [==============================] - 0s 2ms/step - loss: 116.0566
Epoch 80/100
23/23 [==============================] - 0s 2ms/step - loss: 119.1297
Epoch 81/100
23/23 [==============================] - 0s 5ms/step - loss: 115.5470
Epoch 82/100
23/23 [==============================] - 0s 3ms/step - loss: 115.6402
Epoch 83/100
23/23 [==============================] - 0s 1ms/step - loss: 116.9647
Epoch 84/100
23/23 [==============================] - 0s 2ms/step - loss: 114.0825
Epoch 85/100
23/23 [==============================] - 0s 2ms/step - loss: 114.4692
Epoch 86/100
23/23 [==============================] - 0s 4ms/step - loss: 112.9221
Epoch 87/100
23/23 [==============================] - 0s 2ms/step - loss: 115.9460
Epoch 88/100
23/23 [==============================] - 0s 2ms/step - loss: 112.4687
Epoch 89/100
23/23 [==============================] - 0s 2ms/step - loss: 111.4474
Epoch 90/100
23/23 [==============================] - 0s 2ms/step - loss: 112.3185
Epoch 91/100
23/23 [==============================] - 0s 2ms/step - loss: 111.9757
Epoch 92/100
23/23 [==============================] - 0s 2ms/step - loss: 111.1563
Epoch 93/100
23/23 [==============================] - 0s 4ms/step - loss: 110.4460
Epoch 94/100
23/23 [==============================] - 0s 2ms/step - loss: 109.1798
Epoch 95/100
23/23 [==============================] - 0s 2ms/step - loss: 110.1138
Epoch 96/100
23/23 [==============================] - 0s 3ms/step - loss: 108.1190
Epoch 97/100
23/23 [==============================] - 0s 2ms/step - loss: 108.7874
Epoch 98/100
23/23 [==============================] - 0s 3ms/step - loss: 107.2740
Epoch 99/100
23/23 [==============================] - 0s 2ms/step - loss: 108.0015
Epoch 100/100
23/23 [==============================] - 0s 2ms/step - loss: 110.9857

**Evaluating the model**

In [ ]:
loss_val = model.evaluate(x_test,y_test)
y_pred = model.predict(x_test)
loss_val

10/10 [==============================] - 0s 5ms/step - loss: 95.5420
10/10 [==============================] - 0s 3ms/step

95.54203796386719

**Making List of MSE(s)**

In [ ]:
list_of_errors = []
for i in range(50):
  x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = i)
  model.fit(x_train,y_train,verbose = 0)
  loss_val = model.evaluate(x_test,y_test,verbose = 0)
  print(f"MSE {i+1}:",loss_val)
  list_of_errors.append(loss_val)

MSE 1: 95.88336944580078
MSE 2: 103.2697525024414
MSE 3: 103.65310668945312
MSE 4: 110.67379760742188
MSE 5: 114.0792465209961
MSE 6: 98.54329681396484
MSE 7: 116.37638854980469
MSE 8: 98.26485443115234
MSE 9: 113.68212890625
MSE 10: 99.50397491455078
MSE 11: 94.2386703491211
MSE 12: 94.4132080078125
MSE 13: 105.64386749267578
MSE 14: 113.13668060302734
MSE 15: 96.9560775756836
MSE 16: 86.1236572265625
MSE 17: 94.02729034423828
MSE 18: 83.13504028320312
MSE 19: 84.77268981933594
MSE 20: 104.06300354003906
MSE 21: 94.0770034790039
MSE 22: 94.28424835205078
MSE 23: 89.66064453125
MSE 24: 95.83661651611328
MSE 25: 86.00926971435547
MSE 26: 93.7890853881836
MSE 27: 105.06494903564453
MSE 28: 95.00067901611328
MSE 29: 97.0302734375
MSE 30: 92.96390533447266
MSE 31: 111.93144226074219
MSE 32: 93.7647933959961
MSE 33: 87.38279724121094
MSE 34: 92.36682891845703
MSE 35: 92.01512145996094
MSE 36: 108.17364501953125
MSE 37: 85.73735046386719
MSE 38: 99.3411865234375
MSE 39: 82.0390853881836
MSE 40: 98.83085632324219
MSE 41: 88.34092712402344
MSE 42: 86.65612030029297
MSE 43: 86.27613067626953
MSE 44: 88.9102783203125
MSE 45: 99.3262939453125
MSE 46: 93.35478973388672
MSE 47: 83.89286041259766
MSE 48: 95.43595886230469
MSE 49: 85.3653335571289
MSE 50: 83.76581573486328

In [ ]:
mean = np.mean(list_of_errors)
std = np.std(list_of_errors)
print("For part B")
print(f"Mean is {110.973}\tStandard Deviation is {8.365}")
print("For Part C")
print(f"Mean is {mean}\tStandard Deviation is {std}")

For part B
Mean is 110.973	Standard Deviation is 8.365
For Part C
Mean is 95.94128784179688	Standard Deviation is 8.999619781919458