<a href="https://colab.research.google.com/github/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/blob/main/Part_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [39]:
file = pd.read_csv("https://raw.githubusercontent.com/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/main/concrete_data.csv")

In [7]:
file.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Repeat Part A but use a normalized version of the data.

In [15]:
x = file.iloc[:,:-1]      #Predictors
y = file['Strength']      #Target

In [17]:
print(x.shape,y.shape,sep='\n')

(1030, 8)
(1030,)

**Normalising the Predictors**

In [18]:
x_norm = (x-x.mean())/x.std()

In [20]:
x_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

**Making the model**

In [21]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Activation,Dense

In [23]:
model = Sequential()
model.add(Dense(10,activation = 'relu'))
model.add(Dense(1))

In [28]:
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

**Training the model**

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [32]:
model.fit(x_train,y_train,verbose=1,epochs = 50)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 145.4064
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 143.9647
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 143.4358
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 143.0728
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 142.6612
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 141.5932
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 141.0833
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 141.2612
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 139.5643
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 139.0756
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 139.1033
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 138.4187
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 139.0061
Epoch 14/50
23/23 [==============================] - 0s 3ms/step - loss: 137.0706
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 137.4362
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 136.9687
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 136.6895
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 134.9943
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 134.6700
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 134.7063
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 134.4126
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 134.0847
Epoch 23/50
23/23 [==============================] - 0s 3ms/step - loss: 132.1927
Epoch 24/50
23/23 [==============================] - 0s 3ms/step - loss: 132.8979
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 131.6516
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 131.2267
Epoch 27/50
23/23 [==============================] - 0s 3ms/step - loss: 131.1780
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 131.0066
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 131.9430
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 129.4876
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 129.8291
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 129.3700
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 128.5968
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 129.0658
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 128.6551
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 128.6687
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 126.9942
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 128.1448
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 126.7250
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 126.0891
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 125.6814
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 125.4193
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 125.1193
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 125.2769
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 126.1074
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 123.9382
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 126.2842
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 125.2609
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 123.6842
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 123.1284

**Evaluating the model**

In [34]:
loss_val = model.evaluate(x_test,y_test)
y_pred = model.predict(x_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 100.3927
10/10 [==============================] - 0s 2ms/step

100.39268493652344

**Making List of MSE(s)**

In [37]:
list_of_errors = []
for i in range(50):
  x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = i)
  model.fit(x_train,y_train,verbose = 0)
  loss_val = model.evaluate(x_test,y_test,verbose = 0)
  print(f"MSE {i+1}:",loss_val)
  list_of_errors.append(loss_val)

MSE 1: 95.26866149902344
MSE 2: 120.21116638183594
MSE 3: 108.70716857910156
MSE 4: 121.32512664794922
MSE 5: 126.16338348388672
MSE 6: 106.0439453125
MSE 7: 135.3616180419922
MSE 8: 103.78723907470703
MSE 9: 127.89115905761719
MSE 10: 112.09565734863281
MSE 11: 106.71613311767578
MSE 12: 101.14644622802734
MSE 13: 113.0159683227539
MSE 14: 117.88050842285156
MSE 15: 109.27386474609375
MSE 16: 103.88585662841797
MSE 17: 104.93899536132812
MSE 18: 97.94039154052734
MSE 19: 106.00360107421875
MSE 20: 116.55160522460938
MSE 21: 96.26023864746094
MSE 22: 104.8074722290039
MSE 23: 107.06867218017578
MSE 24: 108.80097198486328
MSE 25: 105.03730010986328
MSE 26: 102.09750366210938
MSE 27: 118.83270263671875
MSE 28: 109.08807373046875
MSE 29: 111.26395416259766
MSE 30: 111.3885498046875
MSE 31: 127.78063201904297
MSE 32: 105.32234954833984
MSE 33: 104.52847290039062
MSE 34: 108.96353912353516
MSE 35: 110.68740844726562
MSE 36: 129.96327209472656
MSE 37: 117.67010498046875
MSE 38: 111.970458984375
MSE 39: 108.72270965576172
MSE 40: 110.43157196044922
MSE 41: 114.05474853515625
MSE 42: 108.478759765625
MSE 43: 113.17949676513672
MSE 44: 106.5912857055664
MSE 45: 113.47039031982422
MSE 46: 111.90013122558594
MSE 47: 112.6222915649414
MSE 48: 112.48587799072266
MSE 49: 100.69401550292969
MSE 50: 110.29290771484375

In [38]:
mean = np.mean(list_of_errors)
std = np.std(list_of_errors)
print("For part A")
print(f"Mean is {108.389}\tStandard Deviation is {7.771}")
print("For Part B")
print(f"Mean is {mean}\tStandard Deviation is {std}")

For part A
Mean is 108.389	Standard Deviation is 7.771
For Part B
Mean is 110.97328720092773	Standard Deviation is 8.365347740970734