<a href="https://colab.research.google.com/github/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/blob/main/Part_D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [19]:
file = pd.read_csv("https://raw.githubusercontent.com/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/main/concrete_data.csv")

In [20]:
file.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Repeat Part A but use a normalized version of the data.

In [4]:
x = file.iloc[:,:-1]      #Predictors
y = file['Strength']      #Target

In [5]:
print(x.shape,y.shape,sep='\n')

(1030, 8)
(1030,)

**Normalising the Predictors**

In [6]:
x_norm = (x-x.mean())/x.std()

In [7]:
x_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

**Making the model With 3 hidden layers**

In [9]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Activation,Dense

In [10]:
model = Sequential()
model.add(Dense(10,activation = 'relu'))
model.add(Dense(10,activation = 'relu'))
model.add(Dense(10,activation = 'relu'))
model.add(Dense(1))

In [11]:
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

**Training the model**

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [13]:
model.fit(x_train,y_train,verbose=1,epochs = 50)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 709.2515
Epoch 2/50
23/23 [==============================] - 0s 3ms/step - loss: 466.0520
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 378.9599
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 342.2769
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 320.2792
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 310.8865
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 295.6943
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 289.7845
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 275.0652
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 264.4852
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 261.1584
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 255.1914
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 245.1477
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 238.9772
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 226.8799
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 226.7194
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 217.3596
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 204.1329
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 199.9052
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 192.6966
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 189.0614
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 185.4353
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 186.9784
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 180.8430
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 169.2781
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 166.9712
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 164.0744
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 163.2392
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 161.0805
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 161.0978
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 157.2867
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 154.5276
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 162.9607
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 149.7421
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 152.5785
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 147.5451
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 144.3406
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 142.5372
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 148.3492
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 138.2341
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 138.2085
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 136.5398
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 134.4507
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 133.7462
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 130.3623
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 125.0901
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 125.8942
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 123.6181
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 124.2919
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 121.4956

**Evaluating the model**

In [14]:
loss_val = model.evaluate(x_test,y_test)
y_pred = model.predict(x_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 100.7321
10/10 [==============================] - 0s 2ms/step

100.73213958740234

**Making List of MSE(s)**

In [17]:
list_of_errors = []
for i in range(50):
  x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = i)
  model.fit(x_train,y_train,verbose = 0)
  loss_val = model.evaluate(x_test,y_test,verbose = 0)
  print(f"MSE {i+1}:",loss_val)
  list_of_errors.append(loss_val)

MSE 1: 104.32696533203125
MSE 2: 109.16397094726562
MSE 3: 107.85675811767578
MSE 4: 137.28565979003906
MSE 5: 118.03289031982422
MSE 6: 99.69029235839844
MSE 7: 126.68316650390625
MSE 8: 100.2076644897461
MSE 9: 127.11981964111328
MSE 10: 102.10615539550781
MSE 11: 102.39462280273438
MSE 12: 110.81409454345703
MSE 13: 111.37958526611328
MSE 14: 107.93798065185547
MSE 15: 99.11761474609375
MSE 16: 100.26469421386719
MSE 17: 95.45840454101562
MSE 18: 93.50822448730469
MSE 19: 86.20467376708984
MSE 20: 137.13919067382812
MSE 21: 91.15090942382812
MSE 22: 94.85258483886719
MSE 23: 100.21328735351562
MSE 24: 95.61182403564453
MSE 25: 98.85973358154297
MSE 26: 93.44083404541016
MSE 27: 110.64091491699219
MSE 28: 99.43049621582031
MSE 29: 103.8058090209961
MSE 30: 95.9501953125
MSE 31: 108.33747863769531
MSE 32: 94.21217346191406
MSE 33: 86.36808776855469
MSE 34: 101.40457916259766
MSE 35: 101.93125915527344
MSE 36: 127.59213256835938
MSE 37: 108.2007827758789
MSE 38: 115.13475799560547
MSE 39: 90.57752227783203
MSE 40: 98.92649841308594
MSE 41: 97.47727966308594
MSE 42: 109.5315170288086
MSE 43: 87.41838836669922
MSE 44: 94.0575942993164
MSE 45: 103.62152099609375
MSE 46: 97.4365234375
MSE 47: 105.06355285644531
MSE 48: 93.33609771728516
MSE 49: 87.50959014892578
MSE 50: 94.57294464111328

In [18]:
mean = np.mean(list_of_errors)
std = np.std(list_of_errors)
print("For part B")
print(f"Mean is {110.973}\tStandard Deviation is {8.365}")
print("For Part D")
print(f"Mean is {mean}\tStandard Deviation is {std}")

For part B
Mean is 110.973	Standard Deviation is 8.365
For Part D
Mean is 103.26718597412109	Standard Deviation is 11.889154203827342