<a href="https://colab.research.google.com/github/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/blob/main/Part_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading Data

In [15]:
import pandas as pd
import numpy as np

In [82]:
file=pd.read_csv("https://raw.githubusercontent.com/Shwetank-Chaudhary/Introduction-to-Deep-Learning-Neural-Networks-with-Keras/main/concrete_data.csv")
file.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [53]:
file.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

**Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.**

In [54]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense,Activation
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [55]:
features = list(file.columns)
x = file[features[:-1]].values      # Predictors
y = file["Strength"].values         #Target

In [56]:
print(x.shape,y.shape,sep='\n')

(1030, 8)
(1030,)

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [65]:
print(x_train.shape,y_train.shape,sep='\n')

(721, 8)
(721,)

** Train the model on the training data using 50 epochs.**

In [67]:
model = Sequential()
model.add(Dense(10,activation='relu',input_shape = (x.shape[1],)))
model.add(Dense(1))

In [68]:
model.compile(optimizer='adam', loss = 'mean_squared_error')

In [74]:
model.fit(x_train,y_train,epochs=50,verbose = 1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 113.5309
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 113.5531
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 113.1238
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 113.0206
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 112.3927
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 113.4053
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 113.2328
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 113.3813
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 114.0790
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 114.0471
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 114.5119
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 112.4732
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 116.2388
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 113.0569
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 112.1983
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 113.2637
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 114.9778
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 112.9010
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 113.7068
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 113.8441
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 113.1565
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 113.4202
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 115.7117
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 112.7942
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 114.7772
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 114.0835
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 113.4603
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 114.5925
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 112.7414
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 114.5876
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 112.3519
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 112.3238
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 113.1585
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 117.4520
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 113.2137
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 113.2035
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 116.4473
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 113.0399
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 116.3348
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 113.1893
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 113.0598
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 113.8444
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 113.7105
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 116.6400
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 112.7242
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 113.6226
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 113.1667
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 112.5852
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 112.7383
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 111.7674

**Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.**

In [75]:
loss_val  = model.evaluate(x_test,y_test)
y_pred = model.predict(x_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 94.2750
10/10 [==============================] - 0s 2ms/step

94.2750473022461

In [76]:
m2e = mse(y_test,y_pred)
mean = np.mean(m2e)
std = np.std(m2e)
print("Mean: ",mean,"\nStd: ",std)

Mean:  94.27505461063255
Std:  0.0

**create a list of 50 mean squared errors.**

In [77]:
list_of_errors = []
for i in range(50):
  x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = i)
  model.fit(x_train,y_train,verbose = 0)
  loss_val = model.evaluate(x_test,y_test,verbose = 0)
  print(f"MSE {i+1}:",loss_val)
  list_of_errors.append(loss_val)

MSE 1: 90.83414459228516
MSE 2: 116.74143981933594
MSE 3: 107.1844253540039
MSE 4: 120.10358428955078
MSE 5: 115.83818817138672
MSE 6: 105.46757507324219
MSE 7: 126.12580871582031
MSE 8: 94.35012817382812
MSE 9: 112.14530181884766
MSE 10: 116.82083129882812
MSE 11: 99.52092742919922
MSE 12: 100.12335205078125
MSE 13: 111.07408142089844
MSE 14: 112.71615600585938
MSE 15: 105.23887634277344
MSE 16: 104.63833618164062
MSE 17: 103.09056854248047
MSE 18: 94.10809326171875
MSE 19: 99.70697784423828
MSE 20: 111.1123046875
MSE 21: 108.35275268554688
MSE 22: 98.07486724853516
MSE 23: 109.26036834716797
MSE 24: 103.25944519042969
MSE 25: 104.18965911865234
MSE 26: 96.76248168945312
MSE 27: 119.69912719726562
MSE 28: 104.41468048095703
MSE 29: 109.88383483886719
MSE 30: 115.12354278564453
MSE 31: 124.95170593261719
MSE 32: 113.07096099853516
MSE 33: 106.30426025390625
MSE 34: 105.88377380371094
MSE 35: 107.79328155517578
MSE 36: 122.47683715820312
MSE 37: 118.77861785888672
MSE 38: 113.01400756835938
MSE 39: 108.81372833251953
MSE 40: 108.42031860351562
MSE 41: 111.3245620727539
MSE 42: 112.43403625488281
MSE 43: 104.3745346069336
MSE 44: 102.58831787109375
MSE 45: 114.79791259765625
MSE 46: 106.54443359375
MSE 47: 109.12813568115234
MSE 48: 108.36197662353516
MSE 49: 98.88439178466797
MSE 50: 105.57987976074219

 Report the mean and the standard deviation of the mean squared errors.

In [78]:
mean = np.mean(list_of_errors)
std = np.std(list_of_errors)

print(f"Mean is {mean}\nStandard Deviation is {std}")

Mean is 108.38975067138672
Standard Deviation is 7.771745808560899